.header {
    background-color: black;
    background: linear-gradient(90deg, #000000 37%, #1c1c24 37%);
    font-family: sans-serif;
    padding-top: 28px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__link a {
    padding: 32px 24px;
    color: #fff;
    transition: color 0.7s;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s;
}

.header__link a:hover {
    background-color: #5221E6;
    font-weight: 700;
}

@media (max-width: 768px) {
    .header {
            background: black;
        }
    }

    .burger-toggle {
    position: absolute;
    opacity: 0;
    }

    .header__burger {
    display: none;
    }

    @media (max-width: 675px) {
    
    .header__nav {
            display: none;
        }

    .header__burger {
        display: block;
        position: relative;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
    }

    nav .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        right: 0;
        width: 200px;
        background: #111;
        padding: 15px 20px;
    }

    nav .menu a {
        display: block;
        padding: 12px 0;
        color: #fff;
        text-decoration: none;
    }

    .burger-toggle:checked ~ .menu {
        display: flex;
    }
}