@import 'reset.css';

* {
    font-family: Sen;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
}

@media (max-width: 1380px) {
    .container {
       padding: 0 40px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 20px;
    }
}

@import 'header.css';

@import 'hero.css';